# --------------------------
# System
# --------------------------

*~
*#*
._*
\#*
*.bak
*.tmp
*.swp
*.pid
.DS_Store

# --------------------------
# Git
# --------------------------

.gitconfig

# --------------------------
# Node
# --------------------------

.npm
/node_modules
npm-debug.log
*.out

# --------------------------
# Project
# --------------------------

.idea
